.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;