.back-btn {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    font-family: 'Bluu Next';
    color: var(--color-dark);
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    padding: 12px 22px;
    border-radius: 100px;
    border: 0;
    background-color: var(--color-secondary);
    cursor: pointer;
}

