.character-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    width: 285px;
    height: 445px;
    padding: 20px;
    border-radius: 24px;
    background-image: linear-gradient(to top,
            #0f0f0f -0.99%,
            rgba(15, 15, 15, 0.74) 35.85%,
            rgba(15, 15, 15, 0) 60.04%);
    

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    &__title {
        display: flex;
        text-align: left;
        color: var(--color-white);
        font-size: 18px;
        line-height: 140%;
        font-weight: 500;
        margin-bottom: 5px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 26px;
        }
    }

    &__last-text {
        margin-bottom: 15px;
    }

    &__arrow-container {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__link {
        color: var(--color-white);
        font-weight: 500;
    }
    
    &__arrow-img {
        width: 30px;
        height: 20px;           
    }
}

