.page-title {
    font-family: 'Bluu Next';
    font-size: 80px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    margin: 0 auto 70px;
}

.students-section,
.staff-section,
.house-section  {
    padding-top: 50px;
}

.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.character-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.character-list li {
    flex: 1 1 calc((100% - 3 * 20px) / 4);
    max-width: calc((100% - 3 * 20px) / 4);
}

@media (max-width: 900px) {
    .character-list li {
        flex: 1 1 calc((100% - 2 * 20px) / 3);
        max-width: calc((100% - 2 * 20px) / 3);
    }
}
