.pagination {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (min-width: $bp-tablet) {
        display: none;
    }

    &__button {
        width: 12px;
        height: 12px;
        padding: 0;
        background-color: var(--color-primary);
        border-radius: 50%;

        &--active {
            background-color: var(--color-secondary);
        }
    }
}