.all-char-section {
    padding-top: 15px;

    @media screen and (min-width: $bp-tablet) {
        padding: 30px;
    }
    
    @media screen and (min-width: $bp-desktop) {
        padding: 50px;
    }

    &__container {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__slider {
        overflow: hidden;
    }


    &__list {
        margin-bottom: 16px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 24px;
        }
        
        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 32px;
        }
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__scroll-button {
        display: none;
        
        @media screen and (min-width: $bp-tablet) {
            display: flex;
        }

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }

    &__image {
        border-radius: 22px;
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
        
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 20px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            width: 400px;
            height: 400px;
            margin-bottom: 20px;
        }
    }

    &__button {
        display: block;
        margin: 0 auto;
        font-family: 'Bluu Next';
        color: var(--color-dark);
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        padding: 12px 14px;
        border-radius: 100px;
        border: 1px solid var(--color-secondary);
        background-color: var(--color-secondary);
        cursor: pointer;
        width: 240px;
        height: 44px;
        transition: color 0.5s;  
        
        @media screen and (min-width: $bp-tablet) {
            margin: 0 auto;
            padding: 14px 16px;
            font-size: 15px;
            width: 260px;
            height: 50px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            margin: 0 auto;
            padding: 18px 20px;
            font-size: 18px;
            width: 320px;
            height: 60px;
        }

        &:hover {
            color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
            background-color: transparent;       
        }
    }
}









