.all-char-section {
    padding: 15px 0 100px;

    @media screen and (min-width: $bp-tablet) {
        padding: 30px 0 100px;
    }
    
    @media screen and (min-width: $bp-desktop) {
        padding: 50px 0 100px;
    }

    &__slider {
        position: relative;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 10px; // 
    }

    &__viewport {
        flex: 1; //
        overflow: hidden;
    }

    &__track {
        display: flex;
        transition: transform 300ms ease;
        will-change: transform;
        align-items: flex-start;
    }

    &__slide {
        flex: 0 0 auto;
        padding: 12px;
    }

    &__slide-inner {
        background-color: transparent;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        border-radius: 22px;
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
        
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 20px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            width: 400px;
            height: 400px;
            margin-bottom: 20px;
        }
    }

    &__button {
        display: block;
        margin: 0 auto;
        font-family: 'Bluu Next';
        color: var(--color-dark);
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        padding: 12px 14px;
        border-radius: 100px;
        border: 1px solid var(--color-secondary);
        background-color: var(--color-secondary);
        cursor: pointer;
        width: 240px;
        height: 44px;
        transition: color 0.5s;  
        
        @media screen and (min-width: $bp-tablet) {
            margin: 0 auto;
            padding: 14px 16px;
            font-size: 15px;
            width: 260px;
            height: 50px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            margin: 0 auto;
            padding: 18px 20px;
            font-size: 18px;
            width: 320px;
            height: 60px;
        }

        &:hover {
            color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
            background-color: transparent;       
        }
    }
}







