.house-logo {
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    border: 1px solid var(--color-grey);
    margin-bottom: 50px;
    overflow: hidden;
}

.img-house-logo {
    width: 35px;
    height: 38px;
}

.btn-logo {
    display: flex;
    align-items: center;
    padding: 10px 75px;
    gap: 8px;
    width: 300px;
    height: 59px;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Bluu Next';
    line-height: 130%;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.active-logo {
    color: var(--color-dark);
    background-color: var(--color-secondary);
}

.house-content {
    display: none;
}

.house-content.active {
    display: block;
}