.hero-section {
    padding: 100px 0 60px;
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
        padding: 50px 0 120px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 100px 0 200px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/hero-background@2x.jpg');
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;   
    }

    &__title {
        font-family: 'Bluu Next';
        font-size: 32px;
        font-weight: 700;
        line-height: 125%;
        margin: 0 auto 40px;
        text-transform: uppercase;
        
        @media screen and (min-width: $bp-tablet) {
            font-size: 56px;
            margin: 0 auto 60px;
        }
        
        @media screen and (min-width: $bp-desktop) {
            font-size: 80px;
            margin: 0 auto 80px;
        }
    }
    
    &__button {
        display: block;
        margin: 0 auto;
        font-family: 'Bluu Next';
        color: var(--color-dark);
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        padding: 12px 24px;
        border-radius: 100px;
        border: 0;
        background-color: var(--color-secondary);
        cursor: pointer;   

        @media screen and (min-width: $bp-tablet) {
            font-size: 16px;
            padding: 15px 30px;
        }
        
        @media screen and (min-width: $bp-desktop) {
            font-size: 18px;
            padding: 18px 36px;
        }
    }
}







